<template>
    <div>
        <h1>我是第五页面</h1>
        <button @click="go">点击跳转One页面</button>
    </div>
    
  </template>
  
  <script>
  export default {
      name:'Five',
      methods:{
          go(){
              this.$router.push({
                  name:'One'
              })
          }
      }
  }
  </script>
  
  
  <style>
  
  
  </style>