<template>
  <button @click="go">点击跳转Five页面</button>
</template>


<script>
export default {
    methods:{
        go(){
            this.$router.push({
                name:'Five'
            })
        }
    }
}
</script>


<style>


</style>