<template>
    <button @click="toTwo">跳转到2</button>
</template>

<script>
export default {
    methods:{
        toTwo(){
            this.$router.push({
               name:"Tow"
            })
        }
    }     
    
}
</script>

<style>

</style>
