<template>

  <button @click="toThree">点击跳转Three页面</button>
</template>


<script>
export default {
    methods:{
        toThree(){
            this.$router.push({
                name:'Three'
            })
        }
    }
}
</script>


<style>


</style>